@model Marketplace.Web.Models.City.CityItemVm

<article class="catalog-card city-card">
    <div>
        <div class="catalog-card__top">
            <div class="catalog-card__accent">📍</div>
        </div>

        <h3 class="catalog-card__title">
            <a href="@Model.Url">@Model.Name</a>
        </h3>

        <div class="catalog-card__meta">
            <span class="catalog-card__count">@Model.ListingsCount оголошень</span>
        </div>
    </div>

    <div class="catalog-card__footer">
        <a href="@Model.Url" class="catalog-card__link">Переглянути</a>
    </div>
</article>