@using Marketplace.Web.Utils
@{
    var culture = CultureHelper.Current();
}

<div class="mobile-bottom-bar d-lg-none">
    <a href="/@culture" class="mobile-bottom-link">Home</a>
    <a href="/@culture/catalog" class="mobile-bottom-link">Catalog</a>
</div>