@model Marketplace.Web.Models.Listings.ListingDetailsPageVm
@{
    ViewData["Title"] = Model.Title;
    var structuredData = ViewData["StructuredData"] as string;
    var breadcrumbsStructuredData = ViewData["BreadcrumbsStructuredData"] as string;
}

@section Styles {
    <link rel="stylesheet" href="~/css/components/listing-details.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/listing-card.css" asp-append-version="true" />
}

@section StructuredData {
    <partial name="~/Views/Shared/Layout/_StructuredData.cshtml" model="structuredData" />
    <partial name="~/Views/Shared/Layout/_StructuredData.cshtml" model="breadcrumbsStructuredData" />
}

@if (Model.Breadcrumbs.Any())
{
    <partial name="~/Views/Shared/Navigation/_Breadcrumbs.cshtml" model="Model.Breadcrumbs" />
}

<section class="listing-details-page">
    <div class="listing-details-main">
        <partial name="~/Views/Shared/ListingDetails/_ListingHeader.cshtml" model="Model" />
        <partial name="~/Views/Shared/ListingDetails/_ListingDescription.cshtml" model="Model" />

        <section class="listing-details-gallery-meta">
            <div class="listing-details-gallery-col">
                <partial name="~/Views/Shared/ListingDetails/_ListingGallery.cshtml" model="Model.Gallery" />
            </div>

            <div class="listing-details-meta-col">
                <partial name="~/Views/Shared/ListingDetails/_ListingContactCard.cshtml" model="Model" />
                <partial name="~/Views/Shared/ListingDetails/_ListingMeta.cshtml" model="Model" />
            </div>
        </section>

        @* <partial name="~/Views/Shared/ListingDetails/_ListingDescription.cshtml" model="Model" /> *@
        @* <partial name="~/Views/Shared/ListingDetails/_ListingContactCard.cshtml" model="Model.Contact" /> *@
        <partial name="~/Views/Shared/ListingDetails/_ListingMap.cshtml" model="Model" />
        <partial name="~/Views/Shared/ListingDetails/_ListingFeatures.cshtml" model="Model" />
        <partial name="~/Views/Shared/ListingDetails/_ListingReviews.cshtml" model="Model" />
        <partial name="~/Views/Shared/ListingDetails/_ContactListingModal.cshtml" model="Model" />
    </div>

    @* <aside class="listing-details-sidebar">
        <partial name="~/Views/Shared/ListingDetails/_ListingContactCard.cshtml" model="Model.Contact" />
        <partial name="~/Views/Shared/ListingDetails/_ListingMap.cshtml" model="Model" />
    </aside> *@
</section>

@if (Model.HasRelatedListings)
{
    <section class="app-section">
        @{
            var header = new Marketplace.Web.Models.Shared.SectionHeaderVm
            {
                Title = "Related services"
            };
        }

        <partial name="~/Views/Shared/Sections/_SectionHeader.cshtml" model="header" />
        <partial name="~/Views/Shared/Lists/_RelatedListingsGrid.cshtml" model="Model.RelatedListings" />
    </section>
}

@section Scripts {
    @if (Model.Latitude.HasValue && Model.Longitude.HasValue)
    {
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="~/js/maps/listing-map-osm.js" asp-append-version="true"></script>
    }

    <script src="~/js/listing-gallery.js" asp-append-version="true"></script>
    <script src="~/js/google-maps.js" asp-append-version="true"></script>
    <script src="~/js/pages/listing-contact-modal.js" asp-append-version="true"></script>
    <script src="~/js/pages/listing-reviews-toggle.js" asp-append-version="true"></script>
    <script src="~/js/pages/listing-features-toggle.js" asp-append-version="true"></script>
}