@model IReadOnlyCollection<Marketplace.Web.Models.Category.CategoryItemVm>

<div class="card-grid card-grid--categories">
    @foreach (var item in Model)
    {
        <div>
            <partial name="~/Views/Shared/Cards/_CategoryCard.cshtml" model="item" />
        </div>
    }
</div>