@model IReadOnlyCollection<Marketplace.Web.Models.Listings.ListingCardVm>

@if (Model != null && Model.Any())
{
    <div class="listings-grid">
        @foreach (var item in Model)
        {
            <partial name="~/Views/Shared/Cards/_ListingCard.cshtml" model="item" />
        }
    </div>
}
else
{
    var emptyState = new Marketplace.Web.Models.Shared.EmptyStateVm
        {
            Title = "Nothing found",
            Message = "Try changing filters or selecting another category."
        };

    <partial name="~/Views/Shared/Sections/_EmptyState.cshtml" model="emptyState" />
}