@model IReadOnlyCollection<Marketplace.Web.Models.Cards.SubCategoryCardVm>

@if (Model != null && Model.Any())
{
    <div class="taxonomy-grid">
        @foreach (var item in Model)
        {
            <partial name="~/Views/Shared/Cards/_SubCategoryCard.cshtml" model="item" />
        }
    </div>
}