@model IReadOnlyCollection<Marketplace.Web.Models.SubCategory.SubCategoryItemVm>

<div class="card-grid card-grid--subcategories">
    @foreach (var item in Model)
    {
        <div>
            <partial name="~/Views/Shared/Cards/_SubcategoryCard.cshtml" model="item" />
        </div>
    }
</div>