@model Marketplace.Web.Areas.Admin.Models.Listings.AdminListingsPageViewModel

@{
    ViewData["Title"] = "Manage Services";
}

<div class="container py-4">
    <partial name="Sections/_PageHeader.cshtml" model="Model" />
    <partial name="Sections/_Filters.cshtml" model="Model" />
    <partial name="Sections/_ListingsTable.cshtml" model="Model" />
</div>