@model Marketplace.Web.Models.Home.HomePageVm

@{
    ViewData["Title"] = Model.Hero.Title;
}

<partial name="~/Views/Shared/Sections/_PageHero.cshtml" model="Model.Hero" />
<partial name="~/Views/Shared/Sections/_SeoIntro.cshtml" model="Model.SeoIntro" />

<partial name="~/Views/Shared/Sections/_ListingsSection.cshtml" model="Model.FeaturedListingsSection" />

<div id="popular-cities" class="anchor-section" >
    <partial name="~/Views/Shared/Sections/_CitiesSection.cshtml" model="Model.PopularCitiesSection" />
</div>

<div id="popular-categories" class="anchor-section" >
    <partial name="~/Views/Shared/Sections/_CategoriesSection.cshtml" model="Model.PopularCategoriesSection" />
</div>