@model Marketplace.Web.Models.Shared.TaxonomySectionVm<Marketplace.Web.Models.Cards.CityCardVm>

@if (Model.HasItems)
{
    <section class="app-section bg-light">
        <partial name="~/Views/Shared/Sections/_SectionHeader.cshtml" model="Model.Header" />
        <partial name="~/Views/Shared/Lists/_CitiesGrid.cshtml" model="Model.Items" />
    </section>
}