@model Marketplace.Web.Models.Shared.TaxonomySectionVm<Marketplace.Web.Models.Cards.SubCategoryCardVm>

@if (Model.HasItems)
{
    <section class="app-section">
        <partial name="~/Views/Shared/Sections/_SectionHeader.cshtml" model="Model.Header" />
        <partial name="~/Views/Shared/Lists/_SubCategoriesGrid.cshtml" model="Model.Items" />
    </section>
}