@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <partial name="~/Views/Shared/Layout/_SeoMeta.cshtml" />
    @await RenderSectionAsync("StructuredData", required: false)

    <link rel="icon" type="image/x-icon" href="~/img/favicons/favicon.ico" />
    <link rel="apple-touch-icon" href="~/img/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="~/img/favicons/site.webmanifest" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tokens.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/utilities.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/topnav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/breadcrumbs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/hero.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/listing-card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/filter-bar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/pagination.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/section.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/taxonomy-card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/listing-details.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/mobile-drawer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/components/cookie-consent.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="app-body">
    <partial name="~/Views/Shared/Layout/_Header.cshtml" />

    <div class="app-shell">
        <main class="app-main">
            <div class="container app-container">
                @RenderBody()
            </div>
        </main>

        <partial name="~/Views/Shared/Layout/_Footer.cshtml" />
        <partial name="~/Views/Shared/Layout/_MobileBottomBar.cshtml" />
    </div>

    <partial name="~/Views/Shared/Cookie/_CookieConsent.cshtml" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/catalog-filters.js" asp-append-version="true"></script>
    <script src="~/js/mobile-filters.js" asp-append-version="true"></script>
    <script src="~/js/listing-gallery.js" asp-append-version="true"></script>
    <script src="~/js/google-maps.js" asp-append-version="true"></script>
    <script src="~/js/search-autocomplete.js" asp-append-version="true"></script>
    <script src="~/js/categories-toggle.js" asp-append-version="true"></script>
    <script src="~/js/cookie-consent.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>