<nav class="nav flex-column gap-2">
    <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
        Dashboard
    </a>

    <a class="nav-link" asp-area="Admin" asp-controller="Services" asp-action="Index">
        Services
    </a>

    <a class="nav-link" asp-area="Admin" asp-controller="Categories" asp-action="Index">
        Categories
    </a>

    <a class="nav-link" asp-area="Admin" asp-controller="Reviews" asp-action="Index">
        Reviews
    </a>

    <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">
        Users
    </a>
</nav>